<div class="form-group">
<%= form_for @employee do |f|%>
    <%= f.label :Name %>
    <br>
    <%= f.text_field :name, class:'form-control' %>
    <br>

    <%= f.label :LastName %>
    <br>
    <%= f.text_field :lastname, class:'form-control' %>
    <br>

    <%= f.label :Address %>
    <br>
    <%= f.text_field :address, class:'form-control' %>
    <br>

    <%= f.label :Phone %>
    <br>
    <%= f.text_field :phone, class:'form-control' %>
    <br>

    <%= f.label :Salary %>
    <br>
    <%= f.text_field :salary, class:'form-control' %>
    <br>

    <%= f.submit 'Save',:class => 'btn btn-primary' %>
    <%= link_to "Home", employees_path,:class => 'btn btn-primary' %>

<% end %>
</div>